//background colors
$color-orange-bg: hsl(31, 77%, 52%);
$color-cyan-bg: hsl(184, 100%, 22%);
$color-dark-cyan-bg : hsl(179, 100%, 13%);

//Text-color
$color-text-white: hsl(0, 0%, 95%);
$color-text-light-gray: hsla(0, 0%, 100%, 0.75);

//grid 
$grid-row: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 0rem;